# Flask framework
Flask==2.0.3

# Extensions for Flask
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.32
Flask-Migrate==3.1.0
flask_bcrypt==0.7.1
Flask-Login==0.5.0

# PostgreSQL database adapter for Python
pg8000==1.29.3  # Reemplaza psycopg2-binary para evitar problemas de compilación

# Template engine
Jinja2==3.1.4

# Various utilities
click==8.1.7
itsdangerous==2.1.2
MarkupSafe==2.1.1
typing_extensions==4.12.1
Werkzeug==2.0.3

# For loading environment variables from .env file
python-dotenv==0.19.0

# Build tools
setuptools>=65.5.0
wheel>=0.40.0
