flask==2.2.2  # Framework principal de la aplicación
flask_sqlalchemy==3.0.3  # Extensión para la integración con bases de datos SQLAlchemy en Flask
flask_migrate==4.0.3  # Manejo de migraciones de base de datos con SQLAlchemy
flask_login==0.6.2  # Autenticación de usuarios en Flask
python-dotenv==1.0.0  # Carga de variables de entorno desde archivos .env
werkzeug==2.2.2  # Proporciona funcionalidades adicionales para WSGI
pandas==1.5.3  # Manejo y análisis de datos
sqlalchemy==2.0.10  # ORM para bases de datos SQL
pg8000==1.29.3  # Controlador PostgreSQL para Python, evita problemas de compilación de psycopg2
setuptools==75.2.0  # Herramienta necesaria para resolver dependencias de construcción
numpy==1.23.5  # Biblioteca para el cálculo numérico
wheel==0.40.0  # Utilizado para construir paquetes binarios
