{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="text-center">Acerca de Revolución Torteña</h1>
    <p class="text-center">Bienvenidos a Revolución Torteña, el rincón donde cada Torta Parrilla es un pedacito de nuestra tierra. Axel y Flavia, dos apasionados emprendedores, te invitan a probar nuestras delicias: desde las Torta Parrillas Simples hasta las Torta Parrillas rellenas de Jamón y Muzzarella, y las irresistibles de Salame y Muzzarella. Son perfectas para esos Mates de la Tarde o como Previa a una buena cena de domingo con la familia. Nuestras Tortas Parrilla son el corazón de cada encuentro, invitando a compartir y disfrutar de lo auténtico. Disponibles solo los domingos, ¡animate a probarlas y sentí el sabor de lo nuestro en cada mordida!</p>

    <h2 class="text-center">¿Quiénes somos?</h2>
    <p class="text-center">Somos un emprendimiento dedicado a ofrecer las mejores tortas parrilla...</p>

    <h2 class="text-center">Sobre nuestro emprendimiento</h2>
    <p class="text-center">Nos especializamos en...</p>

    <h2 class="text-center">Nuestras mascotas</h2>
    <p class="text-center">Tenemos varias mascotas que alegran nuestro día a día...</p>
</div>
{% endblock %}
