<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- Enlace a Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a la fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Enlace al archivo de estilos externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Enlace al CSS del fondo animado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated-background.css') }}">
</head>
<body class="background">
    <!-- Contenedor de las burbujas -->
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>

    <!-- Barra de navegación centrada con nuevo estilo -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Botón para colapsar el menú en pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenedor de los enlaces de navegación -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Enlaces de navegación condicionales según el estado del usuario -->
                <li class="nav-item{% if request.endpoint == 'news' %} active{% endif %}">
                    <a class="nav-link{% if request.endpoint == 'news' %} active{% endif %}" href="{{ url_for('news') }}">Soderia Aparicio - Noticias</a>
                </li>
                <li class="nav-item{% if request.endpoint == 'home' %} active{% endif %}">
                    <a class="nav-link{% if request.endpoint == 'home' %} active{% endif %}" href="{{ url_for('home') }}">Soderia Aparicio</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item{% if request.endpoint == 'videos' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'videos' %} active{% endif %}" href="{{ url_for('videos') }}">Videos</a>
                    </li>
                    <li class="nav-item{% if request.endpoint == 'foro' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'foro' %} active{% endif %}" href="{{ url_for('foro') }}">Foro</a>
                    </li>
                    <li class="nav-item{% if request.endpoint == 'postear' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'postear' %} active{% endif %}" href="{{ url_for('postear') }}">Postear</a>
                    </li>
                    <li class="nav-item{% if request.endpoint == 'perfil' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'perfil' %} active{% endif %}" href="{{ url_for('perfil') }}">Perfil</a>
                    </li>
                    {% if current_user.role in ['developer', 'master'] %}
                        <li class="nav-item{% if request.endpoint == 'gestion_usuarios' %} active{% endif %}">
                            <a class="nav-link{% if request.endpoint == 'gestion_usuarios' %} active{% endif %}" href="{{ url_for('gestion_usuarios') }}">Gestión de Usuarios</a>
                        </li>
                        <li class="nav-item{% if request.endpoint == 'gestion_repartos' %} active{% endif %}">
                            <a class="nav-link{% if request.endpoint == 'gestion_repartos' %} active{% endif %}" href="{{ url_for('gestion_repartos') }}">Gestión de Repartos</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <span class="nav-link">Bienvenido, {{ current_user.username }}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item{% if request.endpoint == 'login' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'login' %} active{% endif %}" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item{% if request.endpoint == 'register' %} active{% endif %}">
                        <a class="nav-link{% if request.endpoint == 'register' %} active{% endif %}" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>            
        </div>
    </nav>
    <!-- Contenedor principal donde se inyecta el contenido específico de cada página -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts de JavaScript necesarios para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Enlace al archivo de interacciones del login -->
    <script src="/static/js/login.js" defer></script>
</body>
</html>
