{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="content">
        <h1 class="title">Soderia Aparicio</h1>
        <p>
            Bienvenidos a <a class="highlight" href="#">Soderia Aparicio</a>, el rincón donde cada 
            <a class="highlight" href="#">Torta Parrilla</a> es un pedacito de nuestra tierra. 
            <a class="highlight" href="#">Axel</a> y 
            <a class="highlight" href="#">Flavia</a>, dos apasionados emprendedores, te invitan a probar nuestras delicias: 
            desde las <a class="highlight" href="#">Torta Parrillas Simples</a> hasta las Torta Parrillas rellenas de 
            <a class="highlight" href="#">Jamón y Muzzarella</a>, y las irresistibles de 
            <a class="highlight" href="#">Salame y Muzzarella</a>. Son perfectas para esos 
            <a class="highlight" href="#">Mates de la Tarde</a> o como 
            <a class="highlight" href="#">Previa a una buena cena de domingo</a> con la familia. Nuestras 
            <a class="highlight" href="#">Tortas Parrilla</a> son el corazón de cada encuentro, invitando a compartir y disfrutar de lo auténtico. 
            <a class="highlight" href="#">Disponibles solo los domingos</a>, ¡animate a probarlas y sentí el sabor de lo nuestro en cada mordida!
        </p>
    </div>
    <div class="content mt-4">
        <h2 class="title">¿Quiénes somos?</h2>
        <p>Somos un emprendimiento dedicado a ofrecer las mejores tortas parrilla...</p>
    </div>
    <div class="content mt-4">
        <h2 class="title">Sobre nuestro emprendimiento</h2>
        <p>Nos especializamos en...</p>
    </div>
    <div class="content mt-4">
        <h2 class="title">Nuestras mascotas</h2>
        <p>Tenemos varias mascotas que alegran nuestro día a día...</p>
    </div>
</div>
{% endblock %}
