{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="title">Revolución Torteña</h1>
    <p class="text-center">
        Bienvenidos a <span class="highlight">Revolución Torteña</span>, el rincón donde cada <span class="highlight">Torta Parrilla</span> es un pedacito de nuestra tierra. 
        <span class="highlight">Axel</span> y <span class="highlight">Flavia</span>, dos apasionados emprendedores, te invitan a probar nuestras delicias: desde las 
        <span class="highlight">Torta Parrillas Simples</span> hasta las Torta Parrillas rellenas de <span class="highlight">Jamón y Muzzarella</span>, y las irresistibles de <span class="highlight">Salame y Muzzarella</span>. 
        Son perfectas para esos <span class="highlight">Mates de la Tarde</span> o como <span class="highlight">Previa a una buena cena de domingo</span> con la familia. 
        Nuestras <span class="highlight">Tortas Parrilla</span> son el corazón de cada encuentro, invitando a compartir y disfrutar de lo auténtico. 
        <span class="highlight">Disponibles solo los domingos</span>, ¡animate a probarlas y sentí el sabor de lo nuestro en cada mordida!
    </p>
</div>
{% endblock %}
