{% extends "base.html" %}

{% block content %}
    <div class="container content mt-5">
        <h2 class="my-4">Register</h2>
        <!-- Formulario de registro -->
        <form method="POST" action="{{ url_for('register') }}">
            <!-- Grupo de entrada para el nombre de usuario -->
            <div class="form-group">
                <label for="username" class="highlight">Username</label>
                <!-- Campo de entrada para el nombre de usuario -->
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <!-- Grupo de entrada para el correo electrónico -->
            <div class="form-group">
                <label for="email" class="highlight">Email</label>
                <!-- Campo de entrada para el correo electrónico -->
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <!-- Grupo de entrada para el número de teléfono -->
            <div class="form-group">
                <label for="phone_number" class="highlight">Phone Number</label>
                <!-- Campo de entrada para el número de teléfono -->
                <input type="text" class="form-control" id="phone_number" name="phone_number" required>
            </div>
            <!-- Grupo de entrada para la contraseña -->
            <div class="form-group">
                <label for="password" class="highlight">Password</label>
                <!-- Campo de entrada para la contraseña -->
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <!-- Grupo de entrada para confirmar la contraseña -->
            <div class="form-group">
                <label for="confirm_password" class="highlight">Confirm Password</label>
                <!-- Campo de entrada para confirmar la contraseña -->
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <!-- Selección de rol para el registro -->
            <div class="form-group">
                <label for="role" class="highlight">Role</label>
                <!-- Dropdown para seleccionar el rol -->
                <select class="form-control" id="role" name="role" required>
                    <option value="client" selected>Client</option>
                    <option value="employee">Employee</option>
                    <!-- Opciones para Master y Developer no están disponibles durante el registro inicial -->
                </select>
            </div>
            <!-- Botón de envío para el registro -->
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    
    <!-- Incluir el archivo JavaScript para las interacciones de login -->
    <script src="/static/js/login.js" defer></script>
{% endblock %}
