{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="section-title text-center">Videos de Soderia Aparicio</h1>
    <p class="text-center">Explora nuestra colección de videos donde Axel, apasionado por todo tipo de deportes, comparte su energía y entusiasmo. Desde emocionantes encuentros deportivos hasta momentos de pura adrenalina, cada video es una ventana a la vida vibrante que caracteriza a Revolución Torteña. ¡No te pierdas ninguna de nuestras aventuras y vive la emoción junto a nosotros!</p>
    
    <h2 class="section-title text-center">CEO en el Deporte</h2>
    
    <div class="video-container">
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RRHT8W5rd8w" allowfullscreen title="Video sobre Soderia Aparicio - Parte 1"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DUqzayv5LTU" allowfullscreen title="Video sobre Soderia Aparicio - Parte 2"></iframe>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
